# Ignore __pycache__ directories and Python bytecode
__pycache__/
*.py[cod]

# Ignore data files
*.csv
*.parquet
*.json
*.xlsx
*.xls
*.txt
*.tsv
*.xml
*.pickle
*.h5
*.feather

# Ignore environment files
.env
.env.*
