<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/chatformat.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-bug"></i> GPT Chatbot - {{user}} <i class="fas fa-bug"></i>
      </div>
    </header>
   
    <main class="msger-chat">
	{% for chat in chats %}
	  {% if chat[0] != "GPT": %}
          <div class="msg right-msg">
            <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>
		        <div class="msg-bubble">
                  <div class="msg-info">
                    <div class="msg-info-name">{{ chat[0] }}</div>
                    <div class="msg-info-time">{{ chat[2] }}</div>
                  </div>
		        
                  <div class="msg-text">
                    {{ chat[1] }}
                  </div>
                </div>
          </div>
	   {% else %}
	      <div class="msg left-msg">
            <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>
		        <div class="msg-bubble">
                  <div class="msg-info">
                    <div class="msg-info-name">{{ chat[0] }}</div>
                    <div class="msg-info-time">{{ chat[2] }}</div>
                  </div>
		        
                  <div class="msg-text">
                    {{ chat[1] }}
                  </div>
                </div>
          </div>
	   {% endif %}
	  {% endfor %}

    </main>

    <form class="msger-inputarea" method="post">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message..." name = "msger-input">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
	<form class="logout", action="/logout">
	  <button type="submit">Log Out</button> 
    </form>
	<form class="delete", action="/delete">
	  <button type="submit">Delete Chat</button> 
    </form>
  </section>
</div>

</body>

</html>