<html>
<head>
<title>Raspberry Pi - Surveillance Camera</title>
</head>
<body>
<center><h1>Raspberry Pi - Streaming</h1></center>
<center><img src='/cam.mjpg' width='960' height='720'></center>
<center><form name='capture'>
	 <div class='buttoncontainer'>
	         <button type='button' onclick='sendRequest()'>Capture Image</button> 
                 <button type='button' onclick='sendRequest6()'>Capture Burst</button> 
                 <button type='button' onclick='sendRequest2()'>Capture Light</button> 
                 <button type='button' onclick='sendRequest3()'>Capture Dark</button> 
                 <button type='button' onclick='sendRequest4()'>Capture Video</button> 
                 <button type='button' onclick='sendRequest5()'>Stop Video</button> 
	 </div></center>
        </form>
</body>
<script type='text/javascript'>
     var head = document.getElementById('capture');
     const url = '/stream';
     function sendRequest() {
            let sendingData = {
            body:'capture_image'
            }
            let data = JSON.stringify(sendingData);
            let request = new XMLHttpRequest();
 
            request.open('POST', url, true);
            request.setRequestHeader('Content-type',
                'application/json; charset=UTF-8');
            request.send(data);
 
            request.onload = function () {
                if (request.status === 201) {
          
                }
            }
        }
       
       function sendRequest2() {
            let sendingData = {
            body:'capture_light'
            }
            let data = JSON.stringify(sendingData);
            let request = new XMLHttpRequest();
 
            request.open('POST', url, true);
            request.setRequestHeader('Content-type',
                'application/json; charset=UTF-8');
            request.send(data);
 
            request.onload = function () {
                if (request.status === 201) {
          
                }
            }
        }

      function sendRequest3() {
            let sendingData = {
            body:'capture_dark'
            }
            let data = JSON.stringify(sendingData);
            let request = new XMLHttpRequest();
 
            request.open('POST', url, true);
            request.setRequestHeader('Content-type',
                'application/json; charset=UTF-8');
            request.send(data);
 
            request.onload = function () {
                if (request.status === 201) {
          
                }
            }
        }

      function sendRequest4() {
            let sendingData = {
            body:'capture_video'
            }
            let data = JSON.stringify(sendingData);
            let request = new XMLHttpRequest();
 
            request.open('POST', url, true);
            request.setRequestHeader('Content-type',
                'application/json; charset=UTF-8');
            request.send(data);
 
            request.onload = function () {
                if (request.status === 201) {
          
                }
            }
        }
      
      function sendRequest5() {
            let sendingData = {
            body:'stop_video'
            }
            let data = JSON.stringify(sendingData);
            let request = new XMLHttpRequest();
 
            request.open('POST', url, true);
            request.setRequestHeader('Content-type',
                'application/json; charset=UTF-8');
            request.send(data);
 
            request.onload = function () {
                if (request.status === 201) {
          
                }
            }
        }

       function sendRequest6() {
            let sendingData = {
            body:'capture_burst'
            }
            let data = JSON.stringify(sendingData);
            let request = new XMLHttpRequest();
 
            request.open('POST', url, true);
            request.setRequestHeader('Content-type',
                'application/json; charset=UTF-8');
            request.send(data);
 
            request.onload = function () {
                if (request.status === 201) {
          
                }
            }
        }

</script>
</html>

